:root[data-theme="dark"] {
    --c-surface: #1b1b1d;
    --c-on-surface: #e3e3e3;
    --c-primary: #9feaf9;
    --c-on-primary: #000;
    --c-primary-container: #1b1c26;
    --c-on-primary-container: #9feaf9;
    --c-outline-colored: #9feaf9;
    --c-outline-colored-variant: hsl(194, 10%, 26%);
    --c-outline: #a1a1a1;
    --c-outline-variant: #323234;
    --c-error: #ff6e6e;
}

:root {
    --c-surface: #ffffff;
    --c-on-surface: #1c1e21;
    --c-primary: #9feaf9;
    --c-on-primary: #000;
    --c-primary-container: #1b1c26;
    --c-on-primary-container: #9feaf9;
    --c-outline-colored: #9feaf9;
    --c-outline-colored: #54c7ec;
    --c-outline-colored-variant: hsl(194, 40%, 86%);
    --c-outline: #a1a1a1;
    --c-outline-variant: #e5f5f8;
    --c-error: #e3112d;

    --a-standard: cubic-bezier(0.2, 0, 0, 1);
    --a-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
    --a-standard-decelerate: cubic-bezier(0, 0, 0, 1);
    --a-emphasized: cubic-bezier(0.2, 0, 0, 1);
    --a-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
    --a-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);

    --e-1: 0px 1px 2px 0px rgba(0,0,0,.3),0px 1px 3px 1px rgba(0,0,0,.15);
    --e-2: 0px 1px 2px 0px rgba(0,0,0,.3),0px 2px 6px 2px rgba(0,0,0,.15);
    --e-3: 0px 1px 3px 0px rgba(0,0,0,.3),0px 4px 8px 3px rgba(0,0,0,.15);
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;

    user-select: none;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;

    font-family: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    

    width: 100%;
    height: 100%;
    position: relative;

    background-color: var(--c-surface);
    color: var(--c-on-surface);
}

.snappy {
    overflow: scroll;
    scroll-snap-type: x mandatory;
    
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}

.snappy.unscrollable {
    overflow: hidden;
}

.snappy > * {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 16px;
}

.cal-symbol {
    font-family: 'Oswald';
}

a {
    color: var(--c-primary);
}

button, a.btn {
    text-decoration: none;
    color: inherit;
    font: inherit;

    background-color: var(--c-outline-variant);
    border: none;
    padding: 16px 24px;
    height: 40px;
    border-radius: 200vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

button.iconed, a.btn.iconed {
    padding: 0 24px 0 16px;
}

button.iconed > .material-symbols-outlined, a.btn.iconed > .material-symbols.outlined {
    margin-left: 0;
    margin-right: 8px;
}

button.iconed.right, a.btn.iconed.right {
    padding: 0 16px 0 24px;
}

button.iconed > .material-symbols-outlined, a.btn.iconed > .material-symbols.outlined {
    margin-left: 8px;
    margin-right: 0;
}

button.elevated-button, a.btn.elevated-button {
    /* box-shadow: var(--e-1); */
}

.light {
    font-weight: 200;
}